@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

:root {
  --customColor: #0044ff;
  --purple: #ce00ff;
  --blue: #0044ff;
  --orange: #ff4600;
  --cyan: #03ffc7;
  --light: #33b3e6;

  /* avan*/
  --backg: #f9f9f9;
  --with: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: var(--backg);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  background: var(--with);
  margin: 50px;
  box-shadow: 0 50px 75px rgba(0, 0, 0, 0.1);
  border-left: 50px solid var(--with);
  border-right: 50px solid var(--with);
}
.container .top {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 40px;
  padding-bottom: 0;
}
.container .top .imgBx {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}
.container .top .imgBx .box {
  position: relative;
  width: 70%;
  min-width: 200px;
  border-radius: 50%;
  overflow: hidden;
  aspect-ratio: 1;
}

.container .top .imgBx .box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* */
  object-fit: cover;
}
.container .top .profileText {
  position: relative;
  padding: 40px;
  display: flex;
  align-items: center;
}
.container .top .profileText h3 {
  font-size: 3em;
  letter-spacing: 0.1em;
  line-height: 1.2em;
  font-weight: 600;
  color: #333;
}
.container .top .profileText h3 span {
  position: relative;
  font-size: 0.5em;
  font-weight: 300;
  top: -10px;
}
.container .contentBox {
  position: relative;
  min-height: 500px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 0 40px 40px;
}

.container .contentBox h3 {
  border-left: 4px solid #ff8bb3;
  padding-left: 10px;
  line-height: 1em;
  font-weight: 600;
  color: #333;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
  margin-top: 50px;
}
.container .contentBox ul {
  position: relative;
  margin: 10px 0;
}

.container .contentBox ul li {
  list-style: none;
  margin: 25px 0;
  line-height: 25 px 0;
  color: #333;
  cursor: pointer;
  display: flex;
}

.container .contentBox ul li ion-icon {
  font-size: 1.2em;
  margin-right: 10px;
  color: #3590d2;
}
.container .contentBox ul.education li {
  flex-direction: column;
  margin: 25px 0;
}

h5 {
  color: #3590d2;
}
h4 {
  color: #333;
  font-weight: 500;
  margin: 5px 0;
}
h6 {
  color: #666;
  font-weight: 300;
  font-size: 1em;
}
.language li {
  flex-direction: column;
}
.language li span {
  color: #333;
  font-size: 16px;
  font-weight: 500;
}
.language .percent {
  position: relative;
  width: 100%;
  background: #e3e3e3;
  height: 6px;
  margin-top: 15px;
  margin-bottom: 10px;
  display: block;
  overflow: hidden;
}

.language .percent div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #3590d2;
}

.container .contentBox ul.interest {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.container .contentBox ul.interest li {
  display: flex;
  align-items: center;
  gap: 10px;
  /* haut | droit | bas | gauche */
  margin: 20px 0;
}
.container .contentBox ul.interest li .icon {
  position: relative;
  width: 40px;
  height: 40px;
  background: #3590d2;
  color: var(--with);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .contentBox ul.interest li .icon ion-icon {
  color: var(--with);
  margin-right: 0;
}
p {
  font-style: 300;
}
.rightSide {
  padding-left: 40px;
}
.about .box {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}
.about .box .year_company {
  min-width: 150px;
  margin-bottom: 10px;
}
.about .box .year_company h5 {
  color: #333;
  font-weight: 600;
}
.about .box .year_company h5:nth-child(1) {
  color: #3590d2;
}
.about .box .text h4 {
  color: #3590d2;
  font-size: 16px;
  margin: 0;
}
.about .box .text i {
  color: #3590d2;
  font-weight: bold;
}
/**---    Skills---*/
.about.skills .box {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 150px 1fr;
  justify-content: center;

  align-items: center;
}
.about.skills .box h4 {
  color: #333;
  font-weight: 500;
  margin-bottom: 5px;
}
.about.skills .box .percent {
  position: relative;
  width: 100%;
  height: 10px;
  background: #e3e3e3;
}
.about.skills .box .percent div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #3590d2;
}
/**---    bouton chang e couleur---*/
.control {
  position: fixed;
  right: -3.5rem;
  top: 15%;
  transition: all 300ms ease-in-out;
  z-index: 1000;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.control.open {
  right: 0;
}

.control .widget {
  position: absolute;
  left: -3.4rem;
  border-radius: 1rem 0 0 1rem;
  padding: 0.5rem 0.7rem;
  margin-right: 0.1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  background-color: #fff;
  text-align: center;
}
.control .widget i {
  font-size: 2rem;
  animation: soin 2s linear infinite;
}

.control .colors {
  background-color: #fff;
  padding: 1rem 0.8rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.control .colors span {
  display: block;
  width: 1.9rem;
  height: 1.9rem;
  padding: 0.7rem;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.control .colors span:not(:last-child) {
  margin-bottom: 0.7rem;
}
.control .colors span:nth-child(1) {
  background-color: var(--blue);
}

.control .colors span:nth-child(2) {
  background-color: var(--orange);
}

.control .colors span:nth-child(3) {
  background-color: var(--purple);
}

.control .colors span:nth-child(4) {
  background-color: var(--cyan);
}
/*****----------------RESPONSIVE*****/
@media only screen and (max-width: 767px) {
  .container .contentBox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .container .top {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
  .container .top .profileText {
    position: relative;
    padding: 20px;
  }
  .container .top .profileText h3 {
    font-size: 1.5em;
    letter-spacing: 0.1em;
    line-height: 1.2em;

    color: #333;
  }
  .container .top .profileText h3 span {
    position: relative;
    font-size: 0.5em;
    font-weight: 300;
    top: -10px;
  }
  /* **  Experience*/
  .about .box {
    display: flex;
    flex-direction: column;
  }
}
.about .box .text .id-ul li {
  display: list-item;
  list-style-type: square !important;
  background-color: #ce00ff;
  margin: 0px;
}

.about .box .text ul li::before {
  content: "";
}
